.Teacher__loginpage {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f5f5f5;
}

.teacher__logincontainer {
  display: flex;
  align-items: center;
  width: 600px; /* Adjust the width as needed */
  padding: 20px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.teacher__logincontainer img {
  width: 200px;
  margin-right: 20px; /* Add margin to create space between image and text */
}

.teacher__loginform {
  flex: 1; /* Allow the form to expand and fill the remaining space */
}

.teacher__loginform form {
  display: flex;
  flex-direction: column;
}

.teacher__loginform h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.teacher__loginform input {
  padding: 12px;
  margin-bottom: 15px;
  border: none;
  border-bottom: 1px solid #ccc;
  font-size: 16px;
  outline: none;
}

.teacher__loginform input::placeholder {
  color: #999;
}

.teacher__loginform input:focus {
  border-color: #007bff;
}

.teacherSubmitbtn {
  padding: 12px 20px;
  margin-top: 15px;
  width: 100%;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.teacherSubmitbtn:hover {
  background-color: #0056b3;
}

.teacherSubmitbtn:focus {
  outline: none;
}

.error-message {
  color: red;
  margin-top: 5px;
  text-align: center;
}
