.Teacher__loginpage {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url(../../images/teacherloginbg.jpg) ;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.teacher__logincontainer {
  display: flex;
  align-items: center;
  width: 890px; /* Adjust the width as needed */
  padding: 20px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.teacher__logincontainer img {
  width: 450px;
  margin-right: 20px; /* Add margin to create space between image and text */
}

.teacher__loginform {
  flex: 1; /* Allow the form to expand and fill the remaining space */
}

.teacher__loginform form {
  display: flex;
  flex-direction: column;
}

.teacher__loginform h2 {
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.inbox{
  padding: 30px;
  width: 335px;
  border-radius: 20px;
  background-color: #5299e46e;
}
.teacher__loginform input {
  font-weight: bold;
  padding: 12px;
  margin-bottom: 15px;
  width: 100%;
  background-color: transparent;
  border: none;
  align-items: center;
  border-bottom: 1px solid #242222;
  font-size: 16px;
  outline: none;
}

.teacher__loginform input::placeholder {
  color: black;
}

.teacher__loginform input:focus {
  border-color: #007bff;
}

.teacherSubmitbtn {
  font-weight: bolder;
  padding: 12px 20px;
  margin-top: 15px;
  width: 100%;
  border: none;
  border-radius: 5px;
  background-color: #3c87d6;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.teacherSubmitbtn:hover {
  background-color: #0056b3;
}

.teacherSubmitbtn:focus {
  font-weight: bolder;

  outline: none;
}

.error-message {
  font-weight: bolder;
  color: red;
  margin-top: 5px;
  text-align: center;
}
