/* Hover styles for menu items */
.ant-menu-item:hover {
    background-color: #00b4d8; /* Change background color of the menu item */
    color: black;
    border-radius: 5px; /* Optional: round the corners */
}

/* Hover styles for menu icons */
.ant-menu-item:hover .anticon {
    background-color: #bde0fe; /* Change background color of the icon */
    border-radius: 50%; /* Make the icon background rounded */
    padding: 5px; /* Add padding around the icon */
}
