
.Student__result {
    width: 1174px;
    margin-top: 40px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    margin-bottom: 40px;
}


.card-body {
    flex: 1 1 auto;
    padding: 40px;
    background-color:#63faaab1 ;

    color: var(--bs-card-color);
}

.card-title{
    margin-top: 10px;
}
.sem-text{
    margin-top: 30px;
}


.index-chart{
    display: flex;
}

.result{
    background-color: #f9fbfa;
    width: 579px;
    padding-bottom: 20px;
    padding-left: 30px;
}

.chart{
    background-color: #f9fbfa;
    padding-top: 135px  ;
    width: 478px;
}

.card-title {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
}

.mt-4 button{
    border: none;
    background-color: #00ff80;
    color: #000000;
    width: 150px;
    border-radius: 5px;
}

.table {
    width: 100%;
}

.table th,
.table td {
    padding: 12px;
    vertical-align: middle;
}




.text-danger {
    color: red;
}

* {
    list-style: none;
    font-family: "Josefin Slab", serif;
}