.stnt-AttContainer {
  margin: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 80%;
    max-width: 800px;
    background-color: #f9f9f9;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

.att-pai{
  background-color: #63faaab1;
  padding: 30px;
  border-radius: 7px;
}

.att-att-pai{
  background-color: white;
  padding: 20px;
}

  .stnt-AttContainer h1 {
    text-align: center;
  }
  
  .stnt-AttContainer div {
    margin-bottom: 10px;
  }
  
  .stnt-AttContainer label {
    font-weight: bold;
  }
  
  .stnt-AttContainer select {
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .stnt-AttContainer table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .stnt-AttContainer th, td {
    padding: 10px;
    text-align: center;
  }
  
  
  
  .stnt-AttContainer tbody tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  .stnt-AttContainer tbody tr:hover {
    background-color: #ddd;
  }
  
  .stnt-AttContainer .chart-container {
    margin-top: 20px;
    text-align: center;
  }
  
  /* Adjust Pie chart size */
  .stnt-AttContainer .canvas-container {
    width: 80px !important;
    height: 80px !important;
  }

  /* Media query for smaller screens */
@media screen and (max-width: 768px) {
  .stnt-AttContainer {
    width: 95%;
    padding: 15px;
  }

  .att-att-pai {
    padding: 15px;
  }

  .stnt-AttContainer li {
    padding: 15px;
  }

  .stnt-AttContainer button {
    margin-left: 15px;
    padding: 6px 10px;
  }
}
  