/* Overall login page styling */
.Student__loginpage {
  height: 100vh;
  display: flex;
  justify-content: center; /* Center the items horizontally */
  align-items: center; /* Center the items vertically */
  background-image: url(../../images/studentlogin.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
/* Student login container styling */
.student__logincontainer {
  width: 100%;
  margin-top: 80px;
  margin-right: 15%;
  margin-left: 15%;
  height: 500px;
  display: flex;
  flex-direction: row;
border-radius: 20px;

}

/* Adjusting the background image */


/* Styling the image within the div */
.student__logincontainer img {
  position: relative;
  margin-left: 130px;
  width: 40%;
  height: 450px;
  background-size: cover;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: #f0f0f0;
}

/* Adjusting the student form style */
.stduent__loginform {
  width: 40%;
  height: 450px; /* The form takes up the right 50% of the container */
  background: rgb(255,255,255);
  display: flex; /* Use flexbox for alignment */
  flex-direction: column; /* Flex direction for column layout */
  align-items: center; /* Center form elements horizontally */
  border-radius:  0 20px 20px 0;
}

/* Optional: Style for the form itself */


/* Form container styling */
/* Form container styling */
.studentform {
  top:20px;
  height: 350px;
  position: relative;
  width: 350px; /* Set form width to match container width */

  border-radius: 20px; /* Adjusted border radius */
  padding: 25px 35px; /* Padding around form elements */

  margin: 30px auto; /* Center form */
}

/* Input fields styling */
.studentform input {
  font-weight: bold;

  width: 100%;/* Adjust input width based on form padding */
  background: transparent;
  border: none;
  padding: 20px 5px;
  margin-bottom: 20px;
  border-bottom: 1px solid #242222;

  border-inline: 2px solid transparent; /* Transparent border */
}

/* Placeholder styling */
.studentform input::placeholder,
.studentform input::-moz-placeholder {
  color: #000000;
}
/* Placeholder styling */

/* Focus state styling */
.studentform input:focus {
  outline: none; /* Remove outline */
  border-inline: 2px solid #18bed4; /* Blue border on focus */
}
.studentform .studentSubmitbtn{
  background: rgba(0, 238, 151, 0.885);
  border-radius: 10px;
  width: 270px;
  height: 50px;
  border: none;
  font-weight: bold;
  
}

/* Styling for the student submit button when hovered or clicked */






.error {
  color: red; /* Error message color */
  font-weight: bold; /* Bold text */
  margin-top: 10px; /* Space above the error message */
}
