
<<<<<<< HEAD


.homepage{
  height: 100vh;
}


=======
>>>>>>> 61b293afd78f169905e76fa544dfd5b8e49d14df
main .image-section {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  
  .homepage main .image-section .image-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10000%; /* Ensure the wrapper takes full width */ 
     gap:200px;
}

.homepage main .image-section .image-wrapper a {
    text-decoration: none; /* Remove underline from links */
    display: inline-block; /* Make links behave as inline-block elements */
    max-width: 100%; /* Ensure the link doesn't exceed the width of the image */
}

.homepage main .image-section .image-wrapper a img {
  width: 500px; /* Set width of images */
  height: 350px; /* Set height of images */
  border-radius: 20px; /* Add rounded corners to images */
  box-shadow: 0px 3px 10px black;  transition: transform 0.3s ease;
   /* Add smooth transition effect */

}


  
  .image-wrapper img:hover {
    transform: scale(1.1); /* Optional: adds a zoom effect on hover */
  }
  
  /* Footer styles */
  footer {
    margin-top: 20px;
    font-size: 0.9em;
    color: #555;
  }
  .image-wrapper {
    display: flex;
    justify-content: space-between;
  }
  
  .social-icons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .social-icons a {
    margin: 0 10px; /* Adjust the spacing between icons */
  }
  
  .social-icons img {
    width: 30px; /* Adjust the size of the icons */
    height: 30px;
    cursor: pointer; /* Add a pointer cursor on hover */
  }
  
  .social-icons img:hover {
    opacity: 0.8; /* Reduce opacity on hover */
  }