.form-container {
  margin-top: 15px;
    max-width: 600px;
    height: 670px;
    background-color: #f0f0f0;
display: flex; 
flex-direction: column;
align-items: center;
border-radius: 10px;
 }
  
  .form-container h2 {
    font-weight: bold;
    margin-top: 5px;
    font-size: 1.5rem;
    margin-bottom: 20px;
  }
  
  .form-container form {
    width: 440px;
  
    padding: 0;
    background-color: #42b0fa4a;
    padding: 20px;
    border-radius: 8px;

  }
  
  .form-container label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
  }
  
  .form-container input[type="text"],
  .form-container input[type="number"] {
    font-weight: bold;
    width: 100%;
    padding: 10px;
    background-color: transparent;
    margin-bottom: 15px;
    border: none;
    border-bottom: black solid 1px;
    box-sizing: border-box;
  }
  
  .form-container button {
    background-color: #00b4d8;
    color: rgb(8, 7, 7);
    padding: 10px 20px;
    border: none;
    display: flex;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 5px;
  }
  
  .form-container button:hover {
    font-weight: bold;
    background-color: #00b4d8;
  }
  
  .form-container p {
    color: #888;
  }
  
  .form-container .subject-container {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 4px;
  }
  
  .form-container .subject-container label {
    display: inline-block;
    width: 150px;
  }
  
  .form-container .subject-container input {
    width: calc(100% - 170px);
  }
  
